*{
    -webkit-user-select: none; /* Untuk Safari */
    -moz-user-select: none; /* Untuk Firefox */
    -ms-user-select: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;

  }
  #app{
    scrollbar-color: transparent transparent;
  }
  #app::-webkit-scrollbar {
    display: none;
}

#app::-webkit-scrollbar-thumb {
    background-color: transparent; /* Menghilangkan warna thumb */
}

#app::-webkit-scrollbar-track {
    background-color: transparent; /* Menghilangkan warna track */
}