.history-container {
    max-width: 100%;
    min-height: 100vh;
    background-color: #0b0c0e;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Ensures scrolling is enabled */
  }
  
  .history-content {
    overflow-y: auto;

  }

  