#bg-jadwal {
    background-color: #0b0c0e;
    min-height: 100vh; /* Adjusted to fit content if not full-screen */
    padding-bottom: 20px;
  }
  
  #container-jadwal {
    background-color: #0b0c0e;
  }
  
  .scroll-container {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    scrollbar-color: transparent transparent;
    gap: 10px; /* Adds space between cards */
  }
  
  .scroll-container::-webkit-scrollbar {
    height: 8px;
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    display: none;
  }
  
  #card-jadwal {
    background-color: #222831;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    min-width: 40%; /* Ensure a consistent card width */
    height: 200px;
  }
  
 
  
  .jadwal-title {
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 10px;
    width: 100%;
  }
  
  .card-text {
    font-size: 12px;
    color: #d1d1d1;
  }
  
.episode-text{
  z-index: 1;
  width: 100px;
  position: relative;
  display: block;
  top: -25px;
  left: -20px;
  color: #A41E34;
  max-height: 25px;
}
  @keyframes shimmer {
    0% {
      background-position: -400% 0;
    }
    100% {
      background-position: 400% 0;
    }
  }
  
  .card-img-container {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .card-img-container::after {
    content: 'Episode 'attr(data-ep);
    top: 116px;
    left: 0;
    padding: 5px;
    color: white;
    font-weight: bold;
    height: max-content;

    background:rgb(0,0,0,0.6);
    position: relative;
  }
  .jadwal-title{
    top: -15px;
    position: relative;
  }